page-home {
.red{
    background-color:rgb(250,50,89);
}

.red1{
    background-size: cover;
   
    background-image: url('../../assets/imgs/p1.jpg');
    background-color:rgba(250, 50, 143, 0.74);
    background-blend-mode: soft-light

}
.bk{
    background-color: rgba(220, 20, 60, 0);
}
.btn{

   margin-left: 90px;
    width: 200px;
}
.right{
margin-left: 10px;
margin-top: 40%;
}
.white{
    color: white;
}
.whit{
    margin-left: 60px;
    color: white;
    font-size: 69pt;
    font-family: cursive;

}

h3{
    text-align: right;
    color: white;
}
#space{
    margin-right: 0.1em;
}
}
